extends partials/header

block content
    // TABLE
    .pt-5.px-5
        .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom
          h1.h2 Dashboard
          .btn-toolbar.mb-2.mb-md-0
            .btn-group.mr-2
              button.btn.btn-sm.btn-outline-secondary Share
              button.btn.btn-sm.btn-outline-secondary Export
            button.btn.btn-sm.btn-outline-secondary.dropdown-toggle
              span(data-feather='calendar')
              |                           This week
        h2 Products
        .table-responsive
          table.table.table-striped.table-sm
            thead
              tr
                th Name
                th Price
                th Stock
                th Version
                th Brand
            tbody
              each product, i in products
                tr
                  td= product.Name
                  td= product.Price
                  td= product.Stock
                  td= product.Version
                  td= product.Brand
    include partials/footer